.articles {
    padding: 16px;
    padding-block-start: 48px;
    background-color: hsl(0, 0%, 98%);
    color: hsl(233, 8%, 62%);
}

.articles__header {
    font-size: 36px;
    color: hsl(233, 26%, 24%);
}

.articles__currency,
.articles__restaurant,
.articles__plane,
.article__confetti {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
}

.articles__currency_heading,
.articles__restaurant_heading,
.articles__plane_heading,
.article__confetti_heading {
    display: flex;
    flex-direction: column-reverse;
}

.articles__currency_header,
.articles__restaurant_header,
.articles__plane_header,
.article__confetti_header {
    font-size: 24px;
    color: hsl(233, 26%, 24%);
}

.articles__currency_image,
.articles__restaurant_image,
.articles__plane_image,
.article__confetti_image {
    width: 100%;
}

.articles__currency_creator,
.articles__restaurant_creator,
.articles__plane_creator,
.article__confetti_creator {
    margin-block-start: 32px;
}