.articles {
    padding: 16px;
    padding-block-start: 48px;
    background-color: hsl(0, 0%, 98%);
    color: hsl(233, 8%, 62%);
}

.articles > article {
    margin-block-start: 32px;
}

.articles__header {
    font-size: 36px;
    color: hsl(233, 26%, 24%);
}

.articles__currency,
.articles__restaurant,
.articles__plane,
.articles__confetti {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
}

.articles__currency_heading,
.articles__restaurant_heading,
.articles__plane_heading,
.articles__confetti_heading {
    display: flex;
    flex-direction: column-reverse;
}

.articles__currency_header,
.articles__restaurant_header,
.articles__plane_header,
.articles__confetti_header {
    margin: 0;
    font-size: 24px;
    color: hsl(233, 26%, 24%);
    padding-inline: 32px;
}

.articles__currency_image,
.articles__restaurant_image,
.articles__plane_image,
.articles__confetti_image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}

.articles__currency_creator,
.articles__restaurant_creator,
.articles__plane_creator,
.articles__confetti_creator {
    font-size: 12px;
    margin-block-start: 32px;
    padding-inline: 32px;
}

.articles__currency_description,
.articles__restaurant_description,
.articles__plane_description,
.articles__confetti_description {
    padding-inline: 32px;
    padding-block-end: 48px;
}