.banking {
    text-align: center;
    padding-block-end: 48px;
    display: flex;
    flex-direction: column-reverse;
}

.banking__header {
    margin: 16px;
    font-size: 36px;
}

.banking__content {
    margin: 16px;
}

.banking__mockup {
    margin: 0;
    width: 100%;
    background-image: url('../img/svg/bg-intro-mobile.svg');
    background-repeat: no-repeat;
}

.banking__mockup_desktop {
    display: none;
}

.banking__button {
    margin-block-start: 32px;
    padding-block: 16px;
    padding-inline: 32px;
    border: none;
    color: white;
    border-radius: 24px;
    background: linear-gradient(to right, hsl(136, 65%, 51%) 30%, hsl(192, 70%, 51%) 100%);
}

@media (min-width: 375px) {
    .banking__mockup {
        margin: 0;
        width: 100%;
        background-image: url('../img/svg/bg-intro-desktop.svg');
        background-repeat: no-repeat;
        background-position: center left;
    }
}