body {
    font-size: 18px;
    font-family: "Public Sans Regular";
    color: hsl(233, 8%, 62%);
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    font-size: 18px;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Public Sans Bold";
    color: hsl(233, 26%, 24%);
}

@media (min-width: 600px) {
    .masthead__container {
        max-width: 1160px;
        margin-inline-start: auto;
        margin-inline-end: auto;
    }

    section > * {
        max-width: 1160px;
        margin-inline-start: auto;
        margin-inline-end: auto;
    }
}
