body {
  font-size: 18px; }

ul {
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.masthead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px; }

.masthead__header {
  margin: 0; }

.masthead__header > img {
  width: 200px; }

.masthead__menu {
  margin-block-start: 8px; }

.masthead__label_menu {
  color: transparent;
  margin-inline-end: -48px; }

.masthead__label_menu::before {
  content: url("../icons/icon-hamburger.svg"); }

.masthead__navigation {
  margin-block-start: 64px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -343px;
  height: 40%;
  width: 343px;
  z-index: 1; }

.masthead__list_item {
  margin-block-start: 16px; }

[type="checkbox"] {
  display: none; }

[type="checkbox"]:checked ~ .masthead__navigation {
  position: absolute;
  top: 8px;
  bottom: 0;
  left: 0;
  width: 343px;
  z-index: 1;
  background-color: white;
  text-align: center;
  transform: translateX(0);
  margin-inline-start: 24px;
  border-radius: 5px; }

.masthead__link {
  color: #9698a6; }

.masthead__bttn_container {
  display: none; }

.banking {
  margin: 16px;
  text-align: center;
  padding-block-end: 48px; }

.banking__header {
  font-size: 36px; }

.banking__button {
  margin-block-start: 32px;
  padding-block: 16px;
  padding-inline: 32px;
  border: none;
  border-radius: 24px;
  background: linear-gradient(to right, #31d35c 30%, #2bb7da 100%); }

.easybank {
  padding: 16px;
  text-align: center;
  background-color: #f3f4f6;
  color: #9698a6;
  padding-block-end: 48px; }

.easybank__header {
  font-size: 36px;
  color: #2d314d; }

.easybank__banking,
.easybank__budgeting,
.easybank__onboarding,
.easybank__API {
  margin-block-start: 64px; }

.easybank__banking_heading,
.easybank__budgeting_heading,
.easybank__onboarding_heading,
.easybank__API_heading {
  display: flex;
  flex-direction: column-reverse; }

.easybank__banking_header,
.easybank__budgeting_header,
.easybank__onboarding_header,
.easybank__API_header {
  color: #2d314d;
  font-size: 24px; }

.easybank__banking_image,
.easybank__budgeting_image,
.easybank__onboarding_image,
.easybank__API_image {
  width: 64px;
  height: 64px;
  margin-inline-start: 43%; }

.articles {
  padding: 16px;
  padding-block-start: 48px;
  background-color: #fafafa;
  color: #9698a6; }

.articles > article {
  margin-block-start: 32px; }

.articles__header {
  font-size: 36px;
  color: #2d314d; }

.articles__currency,
.articles__restaurant,
.articles__plane,
.articles__confetti {
  background-color: white;
  border-radius: 5px; }

.articles__currency_heading,
.articles__restaurant_heading,
.articles__plane_heading,
.articles__confetti_heading {
  display: flex;
  flex-direction: column-reverse; }

.articles__currency_header,
.articles__restaurant_header,
.articles__plane_header,
.articles__confetti_header {
  margin: 0;
  font-size: 24px;
  color: #2d314d;
  padding-inline: 32px; }

.articles__currency_image,
.articles__restaurant_image,
.articles__plane_image,
.articles__confetti_image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%; }

.articles__currency_creator,
.articles__restaurant_creator,
.articles__plane_creator,
.articles__confetti_creator {
  font-size: 12px;
  margin-block-start: 32px;
  padding-inline: 32px; }

.articles__currency_description,
.articles__restaurant_description,
.articles__plane_description,
.articles__confetti_description {
  padding-inline: 32px;
  padding-block-end: 48px; }
