@font-face {
  font-family: "Public Sans Bold";
  src: url("../fonts/PublicSans-Bold.woff2") format("woff2"), url("../fonts/PublicSans-Bold.woff") format("woff");
  font-weight: 700; }

@font-face {
  font-family: "Public Sans Regular";
  src: url("../fonts/PublicSans-Regular.woff2") format("woff2"), url("../fonts/PublicSans-Regular.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: "Public Sans Light";
  src: url("../fonts/PublicSans-Light.woff2") format("woff2"), url("../fonts/PublicSans-Light.woff") format("woff");
  font-weight: 300; }

body {
  font-size: 18px;
  font-family: "Public Sans Regular";
  color: #9698a6;
  margin: 0; }

ul {
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

button {
  font-size: 18px;
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Public Sans Bold";
  color: #2d314d; }

@media (min-width: 600px) {
  .masthead__container {
    max-width: 1160px;
    margin-inline-start: auto;
    margin-inline-end: auto; }
  section > * {
    max-width: 1160px;
    margin-inline-start: auto;
    margin-inline-end: auto; } }

.masthead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px; }

.masthead__header {
  margin: 0; }

.masthead__header > img {
  width: 200px; }

.masthead__menu {
  margin-block-start: 8px; }

.masthead__label_menu {
  cursor: pointer;
  color: transparent;
  margin-inline-end: -48px; }

.masthead__label_menu::before {
  content: url("../icons/icon-hamburger.svg"); }

.masthead__navigation {
  margin-block-start: 64px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -343px;
  height: 40%;
  width: 343px;
  z-index: 1; }

.masthead__list_item {
  margin-block-start: 16px; }

[type="checkbox"] {
  display: none; }

[type="checkbox"]:checked ~ .masthead__navigation {
  position: absolute;
  top: 8px;
  bottom: 0;
  left: 0;
  width: 343px;
  z-index: 1;
  background-color: white;
  text-align: center;
  transform: translateX(0);
  margin-inline-start: 24px;
  border-radius: 5px; }

.masthead__link {
  color: #9698a6; }

.masthead__bttn_container {
  display: none; }

@media (min-width: 600px) {
  .masthead__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .masthead__label_menu::before {
    display: none; }
  .masthead__navigation {
    left: 0; }
  .masthead__navigation_container {
    display: flex;
    flex-direction: row;
    margin-block-start: -60px;
    justify-content: space-between;
    transform: translate(140%); }
  .masthead__bttn_container {
    display: block; }
  .masthead__bttn {
    margin-block-start: 8px;
    padding-block: 16px;
    padding-inline: 32px;
    border: none;
    color: white;
    border-radius: 24px;
    background: linear-gradient(to right, #31d35c 30%, #2bb7da 100%); } }

.banking {
  text-align: center;
  padding-block-end: 48px;
  display: flex;
  flex-direction: column-reverse; }

.banking__header {
  margin: 16px;
  font-size: 36px; }

.banking__content {
  margin: 16px; }

.banking__mockup {
  margin: 0;
  width: 100%;
  background-image: url("../img/svg/bg-intro-mobile.svg");
  background-repeat: no-repeat; }

.banking__mockup_desktop {
  display: none; }

.banking__button {
  margin-block-start: 32px;
  padding-block: 16px;
  padding-inline: 32px;
  border: none;
  color: white;
  border-radius: 24px;
  background: linear-gradient(to right, #31d35c 30%, #2bb7da 100%); }

@media (min-width: 600px) {
  .banking {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    column-gap: 20px;
    background-color: #fafafa; }
  .banking__article {
    grid-column: 1 / 3;
    padding: 48px;
    text-align: start;
    margin-inline-start: 48px; }
  .banking__mockup_container {
    grid-column: 3 / 5; }
  .banking__mockup {
    display: none; }
  .banking__mockup_desktop {
    display: block;
    background-image: url("../img/svg/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: 12% 120%; } }

.easybank {
  padding: 16px;
  text-align: center;
  background-color: #f3f4f6;
  padding-block-end: 48px; }

.easybank__header {
  font-size: 36px; }

.easybank__banking,
.easybank__budgeting,
.easybank__onboarding,
.easybank__API {
  margin-block-start: 64px; }

.easybank__banking_heading,
.easybank__budgeting_heading,
.easybank__onboarding_heading,
.easybank__API_heading {
  display: flex;
  flex-direction: column-reverse; }

.easybank__banking_header,
.easybank__budgeting_header,
.easybank__onboarding_header,
.easybank__API_header {
  color: #2d314d;
  font-size: 24px; }

.easybank__banking_image,
.easybank__budgeting_image,
.easybank__onboarding_image,
.easybank__API_image {
  width: 64px;
  height: 64px;
  margin-inline-start: 43%; }

@media (min-width: 1000px) {
  .easybank {
    margin-block-start: -176px;
    text-align: left; }
  .easybank__heading {
    margin-block-start: 64px; }
  .easybank__navigation_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    column-gap: 20px; }
  .easybank__banking_image,
  .easybank__budgeting_image,
  .easybank__onboarding_image,
  .easybank__API_image {
    margin-inline-start: 0; } }

.articles {
  padding: 16px;
  padding-block: 64px;
  background-color: #fafafa;
  color: #9698a6; }

.articles > article {
  margin-block-start: 32px; }

.articles__header {
  font-size: 36px;
  color: #2d314d; }

.articles__currency,
.articles__restaurant,
.articles__plane,
.articles__confetti {
  background-color: white;
  border-radius: 5px; }

.articles__currency_heading,
.articles__restaurant_heading,
.articles__plane_heading,
.articles__confetti_heading {
  display: flex;
  flex-direction: column-reverse; }

.articles__currency_header,
.articles__restaurant_header,
.articles__plane_header,
.articles__confetti_header {
  margin: 0;
  font-size: 24px;
  color: #2d314d;
  padding-inline: 32px; }

.articles__currency_image,
.articles__restaurant_image,
.articles__plane_image,
.articles__confetti_image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%; }

.articles__currency_creator,
.articles__restaurant_creator,
.articles__plane_creator,
.articles__confetti_creator {
  font-family: "Public Sans Light";
  font-size: 12px;
  margin-block-start: 32px;
  padding-inline: 32px; }

.articles__currency_description,
.articles__restaurant_description,
.articles__plane_description,
.articles__confetti_description {
  padding-inline: 32px;
  padding-block-end: 48px; }

@media (min-width: 1000px) {
  .arcticles__navigation_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    column-gap: 20px; }
  .articles__currency_image {
    height: 180px;
    object-fit: cover; }
  .articles__currency_image,
  .articles__restaurant_image,
  .articles__plane_image,
  .articles__confetti_image {
    object-fit: contain; } }

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding-block: 48px; }

.footer > * {
  margin: 16px; }

.footer__social_media_navigation_container {
  margin-inline-start: 48px;
  display: grid;
  grid-template-columns: repeat(6, 1fr); }

.footer__links_list {
  margin: 16px; }

.footer__link {
  color: #f3f4f6; }

.footer__button_request {
  margin-block-start: 32px;
  padding-block: 16px;
  padding-inline: 32px;
  color: white;
  border: none;
  border-radius: 24px;
  background: linear-gradient(to right, #31d35c 30%, #2bb7da 100%); }

.footer__copyright {
  font-family: "Public Sans Light";
  color: #9698a6;
  margin-block-start: 32px; }

@media (min-width: 1000px) {
  .footer {
    padding-block-end: 0; }
  .footer__logo {
    margin-inline-start: -70%; }
  .footer__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .footer__social_media_navigation_container {
    margin-block-start: 40px;
    margin-inline-start: 80px;
    display: grid;
    grid-column-gap: 15px;
    column-gap: 15px; }
  .footer__links_navigation_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    margin-block-start: -80px; }
  .footer__button_container {
    text-align: right;
    margin-block-start: -96px;
    margin-inline-end: 80px; } }
