@font-face {
  font-family: "Public Sans Bold";
  src: url("../fonts/PublicSans-Bold.woff2") format("woff2"), url("../fonts/PublicSans-Bold.woff") format("woff");
  font-weight: 700; }

@font-face {
  font-family: "Public Sans Regular";
  src: url("../fonts/PublicSans-Regular.woff2") format("woff2"), url("../fonts/PublicSans-Regular.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: "Public Sans Light";
  src: url("../fonts/PublicSans-Light.woff2") format("woff2"), url("../fonts/PublicSans-Light.woff") format("woff");
  font-weight: 300; }

body {
  font-size: 18px;
  font-family: "Public Sans Regular";
  color: #9698a6;
  margin: 0; }

ul {
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

button {
  font-size: 18px;
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Public Sans Bold";
  color: #2d314d; }

.masthead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px; }

.masthead__header {
  margin: 0; }

.masthead__header > img {
  width: 200px; }

.masthead__menu {
  margin-block-start: 8px; }

.masthead__label_menu {
  cursor: pointer;
  color: transparent;
  margin-inline-end: -48px; }

.masthead__label_menu::before {
  content: url("../icons/icon-hamburger.svg"); }

.masthead__label_menu:active::before {
  content: url("../icons/icon-close.svg"); }

.masthead__navigation {
  margin-block-start: 64px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -343px;
  height: 40%;
  width: 343px;
  z-index: 1; }

.masthead__list_item {
  margin-block-start: 16px; }

[type="checkbox"] {
  display: none; }

[type="checkbox"]:checked ~ .masthead__navigation {
  position: absolute;
  top: 8px;
  bottom: 0;
  left: 0;
  width: 343px;
  z-index: 1;
  background-color: white;
  text-align: center;
  transform: translateX(0);
  margin-inline-start: 24px;
  border-radius: 5px; }

.masthead__link {
  color: #9698a6; }

.masthead__bttn_container {
  display: none; }

.banking {
  text-align: center;
  padding-block-end: 48px; }

.banking__heading {
  display: flex;
  flex-direction: column-reverse; }

.banking__header {
  margin: 16px;
  font-size: 36px; }

.banking__content {
  margin: 16px; }

.banking__mockup {
  margin: 0;
  width: 100%;
  background-image: url("../img/svg/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: center center; }

.banking__mockup_desktop {
  display: none; }

.banking__button {
  margin-block-start: 32px;
  padding-block: 16px;
  padding-inline: 32px;
  border: none;
  color: white;
  border-radius: 24px;
  background: linear-gradient(to right, #31d35c 30%, #2bb7da 100%); }

.easybank {
  padding: 16px;
  text-align: center;
  background-color: #f3f4f6;
  padding-block-end: 48px; }

.easybank__header {
  font-size: 36px; }

.easybank__banking,
.easybank__budgeting,
.easybank__onboarding,
.easybank__API {
  margin-block-start: 64px; }

.easybank__banking_heading,
.easybank__budgeting_heading,
.easybank__onboarding_heading,
.easybank__API_heading {
  display: flex;
  flex-direction: column-reverse; }

.easybank__banking_header,
.easybank__budgeting_header,
.easybank__onboarding_header,
.easybank__API_header {
  color: #2d314d;
  font-size: 24px; }

.easybank__banking_image,
.easybank__budgeting_image,
.easybank__onboarding_image,
.easybank__API_image {
  width: 64px;
  height: 64px;
  margin-inline-start: 43%; }

.articles {
  padding: 16px;
  padding-block: 64px;
  background-color: #fafafa;
  color: #9698a6; }

.articles > article {
  margin-block-start: 32px; }

.articles__header {
  font-size: 36px;
  color: #2d314d; }

.articles__currency,
.articles__restaurant,
.articles__plane,
.articles__confetti {
  background-color: white;
  border-radius: 5px; }

.articles__currency_heading,
.articles__restaurant_heading,
.articles__plane_heading,
.articles__confetti_heading {
  display: flex;
  flex-direction: column-reverse; }

.articles__currency_header,
.articles__restaurant_header,
.articles__plane_header,
.articles__confetti_header {
  margin: 0;
  font-size: 24px;
  color: #2d314d;
  padding-inline: 32px; }

.articles__currency_image,
.articles__restaurant_image,
.articles__plane_image,
.articles__confetti_image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%; }

.articles__currency_creator,
.articles__restaurant_creator,
.articles__plane_creator,
.articles__confetti_creator {
  font-family: "Public Sans Light";
  font-size: 12px;
  margin-block-start: 32px;
  padding-inline: 32px; }

.articles__currency_description,
.articles__restaurant_description,
.articles__plane_description,
.articles__confetti_description {
  padding-inline: 32px;
  padding-block-end: 48px; }

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding-block: 48px; }

.footer > * {
  margin: 16px; }

.footer__social_media_navigation_container {
  margin-inline-start: 48px;
  display: grid;
  grid-template-columns: repeat(6, 1fr); }

.footer__links_list {
  margin: 16px; }

.footer__link {
  color: #f3f4f6; }

.footer__button_request {
  margin-block-start: 32px;
  padding-block: 16px;
  padding-inline: 32px;
  color: white;
  border: none;
  border-radius: 24px;
  background: linear-gradient(to right, #31d35c 30%, #2bb7da 100%); }

.footer__copyright {
  font-family: "Public Sans Light";
  color: #9698a6;
  margin-block-start: 32px; }
